PORT=8000
NODE_ENV=development

DB_URI=mongodb://mongo:27017/orchestra

JWT_SECRET_KEY=replace-with-a-secure-secret
JWT_EXPIRE_TIME=60d

EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465

BASE_URL=http://localhost:8000
